.App .News .News-Sources li, .App .News .News-Sources li.isActive, .App .News .News-Sources li:hover, .App .Reminder .Board div .del:hover, .App .Map #options label, .App .Map #options label:hover, .App .Map #options input:checked + label, .App .Map .params div:hover {
  transition: .5s all; }

.App .Reminder button, .App .Map .params div {
  color: #fff;
  padding: 20px;
  margin-left: 10px;
  font-weight: 700; }

.App .Reminder input, .App .Reminder textarea {
  height: 30px;
  flex: 1;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #444;
  color: #fff;
  font-size: 1.2em; }
  .App .Reminder input:hover, .App .Reminder textarea:hover {
    border-bottom: 3px solid rgba(241, 18, 174, 0.603);
    transition: .5s all; }
  .App .Reminder input:focus, .App .Reminder textarea:focus {
    outline: none;
    border-bottom: 3px solid rgba(241, 18, 174, 0.603);
    transition: .5s all; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.App {
  text-align: center;
  background: url("./Image/wallpaper.jpg") center center fixed no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  flex-direction: column;
  display: flex;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; }
  .App .Content-Wrapper {
    width: 100%;
    height: 90%;
    padding: 10px;
    justify-content: center;
    display: flex;
    justify-self: stretch;
    align-items: center;
    flex-direction: column; }
  .App .City_name {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 20px; }
  .App .Weather {
    font-size: 2em;
    letter-spacing: .3em; }
    .App .Weather h1 {
      color: #b3b3b3; }
    .App .Weather .Time p:nth-child(1) {
      font-size: 5em; }
  .App .News .News-Sources {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgba(34, 34, 34, 0.5);
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    .App .News .News-Sources li {
      padding: 30px;
      border-bottom: 3px solid rgba(34, 34, 34, 0.5); }
      .App .News .News-Sources li.isActive {
        background-color: rgba(9, 9, 9, 0.5);
        border-bottom: 3px solid #fff; }
    .App .News .News-Sources li:hover {
      background-color: rgba(9, 9, 9, 0.5);
      border-bottom: 3px solid #fff; }
  .App .News .Articles-Wrapper {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    overflow-y: scroll; }
    .App .News .Articles-Wrapper::-webkit-scrollbar {
      display: none; }
    .App .News .Articles-Wrapper .article {
      text-transform: none;
      color: #fff;
      margin: 30px auto;
      width: 40%;
      height: 30%;
      font-size: .8em;
      position: relative; }
      .App .News .Articles-Wrapper .article a {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 40%;
        height: 90%; }
        .App .News .Articles-Wrapper .article a img {
          box-shadow: 3px 3px 10px #444, -3px -3px 10px #444; }
      .App .News .Articles-Wrapper .article div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        width: 70%;
        height: 90%;
        position: absolute;
        overflow: hidden;
        left: 35%;
        padding: 20px;
        background-color: rgba(26, 168, 204, 0.5); }
        .App .News .Articles-Wrapper .article div:nth-child(2) p {
          color: #e6e6e6;
          font-size: 1.4em;
          padding: 10px 0; }
  .App .Reminder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .App .Reminder .Board {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;
      height: 80%;
      padding: 40px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }
      .App .Reminder .Board::-webkit-scrollbar {
        display: none; }
      .App .Reminder .Board div {
        width: 25%;
        height: 40%;
        margin: 20px;
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        word-wrap: break-word;
        justify-content: center;
        background-color: rgba(34, 34, 34, 0.5);
        position: relative; }
        .App .Reminder .Board div .del {
          width: 40px;
          height: 40px;
          position: absolute;
          right: -40px;
          top: -40px; }
          .App .Reminder .Board div .del:hover {
            background-color: #f112ae; }
    .App .Reminder form {
      flex-direction: column;
      display: flex;
      width: 20%;
      padding: 50px; }
    .App .Reminder input:focus {
      transform: scale(1.1); }
    .App .Reminder input, .App .Reminder textarea {
      margin: 20px 0; }
    .App .Reminder textarea {
      height: 200px;
      background-color: rgba(34, 34, 34, 0.5); }
    .App .Reminder input[type="datetime-local"] {
      height: 50px;
      letter-spacing: 3px;
      font-size: 1.5em; }
    .App .Reminder button {
      background-color: rgba(255, 255, 255, 0.5);
      border: none; }
  .App .Map {
    justify-content: space-between; }
    .App .Map #findingContainer {
      height: 90%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .App .Map #options {
      font-size: 1.1em;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .App .Map #options label {
        background-color: rgba(34, 34, 34, 0.5);
        opacity: .5;
        padding: 30px;
        border-bottom: 3px solid transparent; }
        .App .Map #options label:hover {
          opacity: .7;
          cursor: pointer;
          background-color: rgba(9, 9, 9, 0.5);
          border-bottom: 3px solid #fff; }
      .App .Map #options input {
        display: none; }
      .App .Map #options input:checked + label {
        color: #fff;
        background-color: rgba(9, 9, 9, 0.5);
        opacity: 1;
        border-bottom: 3px solid #fff; }
    .App .Map .params {
      display: flex;
      flex-direction: row;
      width: 40%;
      align-items: center;
      justify-content: center; }
      .App .Map .params div {
        background-color: rgba(241, 18, 174, 0.603);
        cursor: pointer; }
        .App .Map .params div:hover {
          color: #fff;
          background-color: transparent; }
      .App .Map .params input {
        height: 30px;
        flex: 1;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #444;
        color: #fff;
        font-size: 1.2em; }
        .App .Map .params input:hover {
          border-bottom: 3px solid rgba(241, 18, 174, 0.603);
          transition: .5s all; }
        .App .Map .params input:focus {
          outline: none;
          border-bottom: 3px solid rgba(241, 18, 174, 0.603);
          transition: .5s all; }
        .App .Map .params input-webkit-::placeholder {
          color: #fff;
          font-size: 1em; }
  .App .Dashboard {
    height: 10%;
    width: 100vw;
    max-width: 1500px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: stretch; }
    .App .Dashboard > * {
      background-color: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      display: flex;
      width: 20%;
      color: #fff;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all .5s; }
      .App .Dashboard > * h1 {
        font-size: 2em;
        font-weight: 600; }
      .App .Dashboard > * > img {
        width: 2em;
        height: 2em; }
      .App .Dashboard > * > span {
        position: absolute;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        bottom: 15px; }
      .App .Dashboard > *:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        width: 0%;
        height: 4px;
        background-color: #fff; }
    .App .Dashboard a:hover {
      transition: all .3s; }
      .App .Dashboard a:hover::before {
        transition: all .3s;
        width: 5%; }
    .App .Dashboard div {
      width: 18%;
      display: flex; }

.icon-1:hover {
  background-color: #E2A600; }

.icon-2:hover {
  background-color: #1AA7CC; }

.icon-3:hover {
  background-color: #621DDB; }

.icon-4:hover {
  background-color: #F112AE; }
